<lite-youtube class="{$player_class}" videoid="{$video_id}" style="background-image: url(https://i.ytimg.com/vi/{$video_id}/{$preview_quality}.jpg);">
	<div class="lty-playbtn"></div>
</lite-youtube>

<div n:if="$use_microdata" style="display: none" itemprop="video" itemscope="" itemtype="https://schema.org/VideoObject">
	<meta itemprop="description" content="{$description}">
	<meta itemprop="duration" content="{$duration}">
	<link itemprop="url" href="{$url}">
	<link itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/{$video_id}/{$preview_quality}.jpg">
	<meta itemprop="name" content="{$name}">
	<meta itemprop="uploadDate" content="{$upload_date}">
	<meta itemprop="isFamilyFriendly" content="true">
	<span itemprop="thumbnail" itemscope="" itemtype="http://schema.org/ImageObject">
		<img alt="{$name}"
			 itemprop="contentUrl"
			 decoding="async"
			 loading="lazy"
			 src="https://i.ytimg.com/vi/{$video_id}/maxresdefault.jpg"
			 srcset="https://i.ytimg.com/vi/{$video_id}/mqdefault.jpg 640w, https://i.ytimg.com/vi/{$video_id}/hqdefault.jpg 920w"
			 sizes="(max-width: 640px) 100vw, 640px" />
		<meta itemprop="width" content="{$player_width}">
		<meta itemprop="height" content="{$player_height}">
	</span>
</div>